iframe {
  display: none;
}
html {
  overflow-x: hidden;
  background-image: url('../img/flat-lay-desk-arrangement-with-copy-space.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

body {
  width: 100vw;
  max-width: 550px;
  margin: 0 auto;
}

.notification {
  transition-property: opacity, min-height;
  transition-duration: 1s;
  min-height: 36px;
}

.notification.hidden {
  min-height: 0;
  opacity: 0;
  pointer-events: none;
}

@import "./todoapp";
@import "./todo";
@import "./filter";
